.inputGrade
   width: 100%
   align-items: center
   input
   & input[type=number]
      -moz-appearance: textfield

   & input[type=number]::-webkit-outer-spin-button
      -webkit-appearance: none
      margin: 0

   & input[type=number]::-webkit-inner-spin-button
      -webkit-appearance: none
      margin: 0

   input
      font-size: 12px
      border: none !important
      max-width: 20px
      align-content: center
      padding: 5px

.inputError
   background-color: #ffcccc
   border: 1px solid red
   border-radius: 2px
   input
      padding: 4px

.textCell
   padding: 5px
